.categoria-iconos__contenedor-iconos {
    display: flex;
    padding: 30px 150px;
    background-color: var(--verdeP-claro);
    justify-content: space-around;

}

.categoria-iconos__icono-contenedor {

    background-color: var(--blanco);
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    transition: all .3s ease;
    width: fit-content;

    margin: 10px;
}

.categoria-iconos__icono-contenedor:hover {
    
    box-shadow: 0 0 10px var(--naranjaP);
    
    svg, .categoria-iconos__icono-path {
        fill: var(--naranjaP);
    }
}

.categoria-iconos__icono {
    width: 40px;
    height: 40px;
    transition: all .3s ease;

    
    fill: var(--gris-medio);
    background-color: var(--blanco);

}


.categoria-iconos__icono-texto {
    text-align: center;
}