
.header__contenedor {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--blanco);
    padding: 0;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    

    transition: all .5s ease;
}

.header__contenedor-ocultar {

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    
}

.header__contenedor-mostrar {

    opacity: 1;
    max-height: 100px;
    padding: 30px;
}

.header__contenedor-logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo {
    color: var(--verdeP);
    font-family: var(--fuente-secundaria);
    font-size: 50px;

    span {
        color: var(--naranjaP);
    }
}

.header__nav {
    font-family: var(--fuente-secundaria);
    display: flex;
    align-items: center;
    gap: 3rem;

}



