
.listado-categorias__contenedor {

    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.listado-categorias__lista {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 70px;
    border-radius: 20px;
    background-color: var(--gris-claro);

    a {

        font-weight: 700;
        color: var(--gris-medio);
    }
    a:hover {
        color: var(--negro);
    }
}