
.post__contenedor {

    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    p {
        font-family: var(--fuente-headings);
    }
}

.post__img-contenedor {

    height: 420px;
    width: 430px;
    overflow: hidden;
}

.post__img {

    object-fit: cover;
    width: 100%;
    height: 100%;

    transition: transform 0.5s ease;
}
.post__img:hover {
    transform: scale(1.1);

}

.post__btn-fav {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    transform: translate(-30px, 30px);
    cursor: pointer;

}
.post__btn-fav:hover {

    path {

        stroke: var(--rojoP);
        fill: var(--rojo);
    }
}
.post__contenedor-texto-img {

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(40px, -140px);

    p {

        color: var(--blanco);
        font-weight: 700;
        font-family: var(--fuente-secundaria)!important;
        text-shadow: 0 0 2px var(--negro);
    }
}

.post__contenedor-descripcion {

    margin-top: 10px;

}

.post__descripcion-text {
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    span {
        font-weight: 700;
    }
    
}

.post__descripcion-precio {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.post__puntaje {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    margin: 10px 0;

    span {
        font-weight: 700;
    }


    svg, path {
        width: 20px;
        fill: var(--amarillo);
    }
}